<header>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</header>
<div style="text-align: center;">
    <h2>API example</h2>
</div>
<div style="margin-left: 100px;">
    <h3 class="API-title"></h3>
    <p class="API-example"></p>
</div>
