<div style="text-align: center;">
    <h1>ARK APIs</h1>
</div>
<div style="margin-left: 100px;">
    <p>list of APIs:</p>
    <ul>
        <li>
            <i>GET: "services/test"</i>
            <span>returns a success message!</span>
            <a href="APIs/example?req=test"> example </a>
        </li>
    </ul>
</div>
