<div style="text-align: center;">
    <h1>ARK APIs</h1>
</div>
<div style="margin-left: 100px;">
    <p>testing</p>
    <ul>
        <li>
            <i>GET: "services/test"</i>
            <span>returns a success message!</span>
            <a href="APIs/example?req=test"> example </a>
        </li>
        <li>
            <i>GET: "users/test"</i>
            <span>returns a success message!</span>
            <a href="APIs/example?req=users_test"> example </a>
        </li>
    </ul>
    <p>Users</p>
    <ul>
        <li>
            <i>GET: "users/show"</i>
            <span>returns a user's information</span>
            <a href="APIs/example?req=users_show"> example </a>
        </li>
        <li>
            <i>POST: "users/create"</i>
            <span>creating a new user</span>
            <a href="APIs/example?req=users_create"> example </a>
        </li>
    </ul>
</div>
