<div style="text-align: center;">
    <h1>ARK APIs</h1>
</div>
<div style="margin-left: 100px;">
    <h3><b>Notice: 'test-link' is available for GET requests only. For requests of other types, try the 'Advanced REST Client' plugin on Chrome to test them out.</b></h2>
    <p>testing</p>
    <ul>
        <li>
            <i>GET: "services/test"</i>
            <span>returns a success message!</span>
            <a href="/APIs/example?req=test"> example </a>
        </li>
        <li>
            <i>GET: "users/test"</i>
            <span>returns a success message!</span>
            <a href="/APIs/example?req=users_test"> example </a>
        </li>
    </ul>
    <p>Users</p>
    <ul>
        <li>
            <i>GET: "users/show"</i>
            <span>returns a user's information</span>
            <a href="/APIs/example?req=users_show"> example </a>
        </li>
        <li>
            <i>GET: "users/all"</i>
            <span>returns all users</span>
            <a href="/APIs/example?req=users_all"> example </a>
        </li>
        <li>
            <i>GET: "users/check"</i>
            <span>check a user's login</span>
            <a href="/APIs/example?req=users_check"> example </a>
        </li>
        <li>
            <i>POST: "users/create"</i>
            <span>creating a new user</span>
            <a href="/APIs/example?req=users_create"> example </a>
        </li>
        <li>
            <i>POST: "users/login"</i>
            <span>login a user</span>
            <a href="/APIs/example?req=users_login"> example </a>
        </li>
        <li>
            <i>DELETE: "users/destroy"</i>
            <span>deleting a user</span>
            <a href="/APIs/example?req=users_destroy"> example </a>
        </li>
    </ul>
    <p>UserContacts</p>
    <ul>
        <li>
            <i>GET: "userContacts/show"</i>
            <span>returns a user's all contacts' user ids</span>
            <a href="/APIs/example?req=user_contacts_show"> example </a>
        </li>
        <li>
            <i>GET: "userContacts/check"</i>
            <span>checking whether the a user is already in another user's contact list</span>
            <a href="/APIs/example?req=user_contacts_check"> example </a>
        </li>
        <li>
            <i>DELETE: "userContacts/destroy"</i>
            <span>deleting a user's contact</span>
            <a href="/APIs/example?req=user_contacts_destroy"> example </a>
        </li>
        <li>
            <i>POST: "userContacts/create"</i>
            <span>creating a new user</span>
            <a href="/APIs/example?req=user_contacts_create"> example </a>
        </li>
    </ul>
    <p>direct messaging (constructing)</p>
    <ul>
        <li>
            <i>GET: "direct/show"</i>
            <span>return all conversations</span>
            <a href="/APIs/example?req=direct_show"> example </a>
        </li>
        <li>
            <i>POST: "direct/create"</i>
            <span>creating a new conversation</span>
            <a href="/APIs/example?req=direct_create"> example </a>
        </li>
    </ul>
    <p>group messaging (constructing)</p>
    <ul>
        <li>
            <i>GET: "group/show"</i>
            <span>return all groups</span>
            <a href="/APIs/example?req=group_show"> example </a>
        </li>
        <li>
            <i>GET: "group/members"</i>
            <span>return all group mmebers of all groups that a user is related to</span>
            <a href="/APIs/example?req=group_members"> example </a>
        </li>
        <li>
            <i>GET: "group/locations"</i>
            <span>return locations of all group members</span>
            <a href="/APIs/example?req=group_locations"> example </a>
        </li>
        <li>
            <i>POST: "group/create"</i>
            <span>creating a new group</span>
            <a href="/APIs/example?req=group_create"> example </a>
        </li>
        <li>
            <i>POST: "group/add"</i>
            <span>add a member into a group</span>
            <a href="/APIs/example?req=group_add"> example </a>
        </li>
        <li>
            <i>DELETE: "group/delete"</i>
            <span>delete a member in a group</span>
            <a href="/APIs/example?req=group_delete"> example </a>
        </li>
        <li>
            <i>GET: "group/search"</i>
            <span>search groups by group name</span>
            <a href="/APIs/example?req=group_search"> example </a>
        </li>
    </ul>
    <p>group profile</p>
    <ul>
        <li>
            <i>GET: "groupProfile/show"</i>
            <span>gives back profile of a group</span>
            <a href="/APIs/example?req=groupProfile_show"> example </a>
        </li>
    </ul>
    <p>message</p>
    <ul>
        <li>
            <i>GET: "message/show"</i>
            <span>gives back all messages that belongs to a convo</span>
            <a href="/APIs/example?req=message_show"> example </a>
        </li>
        <li>
            <i>POST: "message/create"</i>
            <span>sending a message to a conversation</span>
            <a href="/APIs/example?req=message_create"> example </a>
        </li>
    </ul>
    <p>location</p>
    <ul>
        <li>
            <i>GET: "locations/show"</i>
            <span>gives back a user's location info</span>
            <a href="/APIs/example?req=locations_show"> example </a>
        </li>
        <li>
            <i>POST: "locations/update"</i>
            <span>update a user's location info</span>
            <a href="/APIs/example?req=locations_update"> example </a>
        </li>
    </ul>
    <p>waypoints</p>
    <ul>
        <li>
            <i>GET: "waypoint/show"</i>
            <span>gives back a group's waypoint info</span>
            <a href="/APIs/example?req=waypoint_show"> example </a>
        </li>
        <li>
            <i>POST: "waypoint/create"</i>
            <span>create a group's waypoint</span>
            <a href="/APIs/example?req=waypoint_create"> example </a>
        </li>
    </ul>
</div>
