<div style="text-align: center;">
    <h1>ARK APIs</h1>
</div>
<div style="margin-left: 100px;">
    <h3><b>Notice: 'test-link' is available for GET requests only. For requests of other types, try the 'Advanced REST Client' plugin on Chrome to test them out.</b></h2>
    <p>testing</p>
    <ul>
        <li>
            <i>GET: "services/test"</i>
            <span>returns a success message!</span>
            <a href="APIs/example?req=test"> example </a>
        </li>
        <li>
            <i>GET: "users/test"</i>
            <span>returns a success message!</span>
            <a href="APIs/example?req=users_test"> example </a>
        </li>
    </ul>
    <p>Users</p>
    <ul>
        <li>
            <i>GET: "users/show"</i>
            <span>returns a user's information</span>
            <a href="APIs/example?req=users_show"> example </a>
        </li>
        <li>
            <i>POST: "users/create"</i>
            <span>creating a new user</span>
            <a href="APIs/example?req=users_create"> example </a>
        </li>
        <li>
            <i>POST: "users/login"</i>
            <span>login a user</span>
            <a href="APIs/example?req=users_login"> example </a>
        </li>
        <li>
            <i>DELETE: "users/destroy"</i>
            <span>deleting a user</span>
            <a href="APIs/example?req=users_destroy"> example </a>
        </li>
    </ul>
    <p>UserContacts</p>
    <ul>
        <li>
            <i>GET: "userContacts/show"</i>
            <span>returns a user's all contacts' user ids</span>
            <a href="APIs/example?req=user_contacts_show"> example </a>
        </li>
        <li>
            <i>GET: "userContacts/check"</i>
            <span>checking whether the a user is already in another user's contact list</span>
            <a href="APIs/example?req=user_contacts_check"> example </a>
        </li>
        <li>
            <i>DELETE: "userContacts/destroy"</i>
            <span>deleting a user's contact</span>
            <a href="APIs/example?req=user_contacts_destroy"> example </a>
        </li>
        <li>
            <i>POST: "userContacts/create"</i>
            <span>creating a new user</span>
            <a href="APIs/example?req=user_contacts_create"> example </a>
        </li>
    </ul>
    <p>Chat (constructing)</p>
    <ul>
        <li>
            <i>GET: "chat/show"</i>
            <span>return all conversations</span>
            <a href="APIs/example?req="> example </a>
        </li>
        <li>
            <i>DELETE: "chat/destroy"</i>
            <span>deleting a conversation</span>
            <a href="APIs/example?req="> example </a>
        </li>
        <li>
            <i>POST: "chat/create"</i>
            <span>creating a new message</span>
            <a href="APIs/example?req="> example </a>
        </li>
    </ul>
</div>
