<!DOCTYPE html>
<html>
    <head>
        <title>Server</title>

        <%= csrf_meta_tags %>

        <%= javascript_include_tag 'jquery.js' %>
        <%= javascript_include_tag 'docs-example.js' %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
